
<div class="jumbotron">
    <h1 class="display-4">List of Pets by Owner's gender</h1>
    <hr class="my-4">
</div>

<div *ngFor="let ow of ownerPets">
    <div class="card-footer text-muted">
        <div class="alert alert-info" role="alert">
            <h3 class="display-4"><strong>{{ow.gender}}</strong></h3>
        </div>

        <div class="alert alert-warning" role="alert">
            <div *ngFor="let p of ow.pets">
                <h3 class="display-4">{{p}}</h3>
            </div>
        </div>
    </div>
</div>
